[VIDEO]
mode = video
path = ../video/good.mp4
width = 640
height = 480
update = 30

[LOGGER]
file = log.file

[SERVER]
ip = 194.61.21.113
port = 65432

[CERTIFICATES]
client_cert = client_certificates/client.crt
server_cert = server_certificate/server.crt
server_key = server_certificate/server.key

[DETECTION]
yolo_weights = yolo-files/yolov4-tiny.weights
yolo_cfg = yolo-files/yolov4-tiny.cfg
mode = CPU
labels = yolo-files/coco.names
avg_file = yolo-files/average_size.csv
confidence = 0.5

[DEBUG]
verbose = False
time = False
