[VIDEO]
width = 640
height = 480
FPS = 30
record_time = 10
saving_directory = recordings/

[LOGGER]
file = log.file

[SERVER]
ip = 194.61.21.113
port = 65432

[CERTIFICATES]
client_cert = client_certificates/client.crt
server_cert = server_certificate/server.crt
server_key = server_certificate/server.key

[DETECTION]
yolo_weights = yolo-files/yolov4-tiny.weights
yolo_cfg = yolo-files/yolov4-tiny.cfg
mode = CPU
labels = yolo-files/coco.names
avg_file = yolo-files/average_size.csv
confidence = 0.5
threshold = 0.3

[DEBUG]
verbose = False
time = False

[LANE_DETECTION]
# use lane average when just one lane is detected
lane_average = True
# use property of lane inertia when no lane is detected and
# plot averaged lines
lane_inertia = True
# specify after how many averages to consider the average line
average_available = 20
# specify after how many averages to stop calculating the
# average line
average_max = 10000
# specify the maximum time period for time_intertia to
# plot average lines
time_interval = 1.2
